In [1]:
a_list = ["item1", "item2", "item3"]
print(a_list)

['item1', 'item2', 'item3']

In [2]:
b_list =['0', '0', '0']
print(b_list)

b_list[1] =1
print(b_list)

['0', '0', '0']
['0', 1, '0']

In [6]:
c_list =['item1', 'item2', 'item3']

for i in c_list:
  print(i)

item1
item2
item3

In [8]:
d_list =["item1", "item2", "item3"]

for i in range(len(d_list)):
  print(d_list[i])

item1
item2
item3

In [17]:
e_list =[32,55,710,1]

total = 0
total = sum(e_list)
print(total)

798

In [21]:
g_list =[32,55,710,1]

total1 =0
for i in g_list:
  total1 += i
    
print(total1)

798

In [30]:
s_list = [1,3,4,5,0,2]

            
        
def second_largest (s_list):
    s_list.sort()
    return s_list[-2]

print(second_largest(s_list))

4

In [31]:
a_string ="ABC"

print(a_string)

ABC

In [32]:
b_string ="DEF"

print(b_string[1])

E

In [35]:
c_string ="GHI"

for i in c_string:
  print(i)

G
H
I

In [58]:
d_string ="PQR"

for i in range(len(d_string)):
  print(d_string[i])

P
Q
R

In [69]:
str1 ="ABC"
str2 ="CBA"


def reverse_string(str1, str2):
    if str1 == str2[::-1]: 
        return True
    else: 
        return False
    
print(reverse_string(str1, str2))

True

In [84]:
no1 ="123"  
no2 ="3453"


def largest_number(no1, no2):
    if len(no1) > len(no2):
        return True
    elif len(no1) < len(no2):
        return False
    
    
    for i in range(len(no1)):
        if no1[i] == no2[i]:
            continue
        elif no1[i]> no2[i]:
            return True
        else:
            return False
        
    
print(largest_number("12367", "3425"))

True

###

In [86]:
b_2d =[[1,2,3], [5,6,7]]

print(b_2d)

[[1, 2, 3], [5, 6, 7]]

In [88]:
c_2d = [[1,2,3], [4,5,6]]

c_2d [1][1] = 99

print(c_2d)

[[1, 2, 3], [4, 99, 6]]

In [90]:
d_2d =[['a', 'b', 'c'], ['x', 'y', 'z']]

for row in d_2d:
    for i in row:
        print(i)

a
b
c
x
y
z

In [91]:
for i in range(len(d_2d)):
    for j in range(len(d_2d[i])):
        print(d_2d[i][j])

a
b
c
x
y
z

In [94]:
g_2d =[[1,2,3],[4,5,6],[7,8,9]]

def add_up (g_2d):
    total =0
    for i in range(len(g_2d)):
        total += g_2d[i][i]
    return total
    
print(add_up(g_2d))

15